@charset "UTF-8";
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
html {
    background-color: black;
}
body {
    position: relative;
    background-image: url('../pacote-d013/imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    height: 100dvh;
}

section#phone {
    /* Center the section in the viewport */
    position: absolute;
    background-image: url('../pacote-d013/imagens/frame-iphone.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 311px;
    height: 450px;
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    width: 191px;
    height: 337px;
    top: 58px;
    left:60px;
    
}

section#social {
    text-align: right;
}

section > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section a> img:hover {
    transform: translate(-3px, -3px);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

